.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  animation: containerAnimation 1s ease-in-out .3s forwards;
}

.logoSaiaContainer{
  width: 70%;
  max-width: 30rem;
}

.logoSaiaContainer img{
  width: 100%;
}

.loginForm{
  width: 80%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--flex-gap);
}

.loginField{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.loginField input{
  padding: var(--padding);
  border: 0;
  outline: 2px solid #c3c3c3;
  border-radius: var(--border-radius);
  font-size: var(--font-size-text);
  transition: var(--transition-linear);
}

.loginField input:focus,
.loginField input:valid{
  outline: 2px solid var(--color-primary-dark);
}

.loginField label{
  cursor: auto;
  position: absolute;
  left: 1.6rem;
  color: var(--color-gray);
  font-weight: bold;
  transition: all .15s linear;
  background-color: transparent;
  padding-inline: .3rem;
}

.loginField input:focus + label,
.loginField input:valid + label{
  color: var(--color-primary-dark);
  transform: translate(0, -2.5rem);
  font-size: 1.2rem;
  background-color: #FFF;
}

.loginForm button[type="submit"]{
  padding: var(--padding);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
  max-width: 25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--color-primary-dark);
  transition: var(--transition-linear);
}

.loginForm button[type="submit"]:hover{
  background-color: var(--color-bttn-hover);
}

@keyframes containerAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}